body {
background: #D7DE69;
font: normal 15pt Arial;
}

header {
    text-align: center;
    color: #fff;
}

section{
    background: #fff;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}
footer{
    text-align: center;
    color: #fff;
}

